<body>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-5">Ajouter une borne 🔋 </h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-7 bg-blue my-5">

      <form (ngSubmit)="onSubmit()">

        <div *ngIf="successMessage" class="alert alert-success mt-3">
          {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ errorMessage }}
        </div>

        <div class="mb-3">
          <label for="lieuId" class="form-label">Lieu (ID) :</label>
          <input type="number" class="form-control" id="lieuId" name="lieuId" [(ngModel)]="newBorne.lieuId" required>
        </div>

        <div class="mb-3">
          <label for="borneName" class="form-label">Nom de la borne :</label>
          <input type="text" class="form-control" id="borneName" name="nomBorne" [(ngModel)]="newBorne.nomBorne" required>
        </div>

        <div class="mb-3">
          <label for="puissance" class="form-label">Puissance :</label>
          <input type="text" class="form-control" id="puissance" name="puissance" [(ngModel)]="newBorne.puissance" required>
        </div>

        <div class="row d-flex">
          <div class="col-6 mb-3">
            <label for="longitude" class="form-label">Longitude :</label>
            <input type="number" class="form-control" id="longitude" name="longitude" [(ngModel)]="newBorne.longitude" step="any">
          </div>

          <div class="col-6 mb-3">
            <label for="latitude" class="form-label">Latitude :</label>
            <input type="number" class="form-control" id="latitude" name="latitude" [(ngModel)]="newBorne.latitude" step="any">
          </div>
        </div>

        <div class="mb-3">
          <label for="instruction" class="form-label">Instructions :</label>
          <input type="text" class="form-control" id="instruction" name="instruction" [(ngModel)]="newBorne.instruction">
        </div>

        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="surPied" name="surPied" [(ngModel)]="newBorne.surPied">
          <label class="form-check-label" for="surPied">Sur pied :</label>
        </div>

        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="estDisponible" name="estDisponible" [(ngModel)]="newBorne.estDisponible">
          <label class="form-check-label" for="estDisponible">Est disponible :</label>
        </div>

        <div class="mb-3">
          <label for="prix" class="form-label">Prix :</label>
          <input type="number" class="form-control" id="prix" name="prix" [(ngModel)]="newBorne.prix" step="0.01" required>
        </div>

        <div class="mb-3">
          <label for="photo" class="form-label">Nom du fichier photo :</label>
          <input type="text" class="form-control" id="photo" name="photo" [(ngModel)]="newBorne.photo">
        </div>

        <button class="m-auto mt-5" type="submit">Enregistrer<span class="emoji ms-2">⚡</span> </button>
      </form>

    </div>
  </div>
</div>
</body>
