<nav class="navbar navbar-expand-lg">
  <a routerLink="home" class="navbar-brand"><img class="logo" src="assets/img/logo.png" /></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!---<ul class="navbar-nav me-auto">
     <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Dropdown
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="#">Action</a>
         <a class="dropdown-item" href="#">Another action</a>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item" href="#">Something else here</a>
       </div>
     </li>
   </ul>
  -->
    <ul class="navbar-nav ms-auto">
      <li routerLink="registration" class="nav-item d-flex align-items-center">
        <img class="nav-icon" src="assets/img/add-user.svg" />
        <span class="nav-text">Inscription</span>
      </li>
      <li routerLink="connexion" class="nav-item d-flex align-items-center">
        <img class="nav-icon" src="assets/img/user-connect.svg" />
        <span class="nav-text">Connexion</span>
      </li>
    </ul>
  </div>
</nav>
