<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-5">Bonjour Julia RIGHI 👋 </h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-7 bg-blue my-5">
      <img class="profilePic" src="assets/img/profile-picture.jpeg"/>
    <p><b>Nom :</b> RIGHI</p>
    <p><b>Prénom :</b> Julia</p>
    <p><b>Adresse :</b> 7 rue des myosotis 63118 Cebazat</p>
    <p><b>Email :</b> julia.righi&#64;gmail.com</p>
      <button routerLink="/editprofile" type="button">Modifier le profil<span class="emoji ms-2">⚡</span> </button>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-7 mb-5 bg-blue">
      <h3 class="mb-5">Vos bornes</h3>
      <p>Borne Paris 2ème<a  routerLink="/editlieu" class="px-3"><img src="assets/img/edit.svg" /></a><a><img src="assets/img/delete.svg" /></a></p>
      <span class="divider"></span>
      <p>Borne Paris 16ème<a routerLink="/editlieu" class="px-3"><img src="assets/img/edit.svg" /></a><a><img src="assets/img/delete.svg" /></a></p>
      <span class="divider"></span>
      <p>Borne Paris 10ème<a routerLink="/editlieu" class="px-3"><img src="assets/img/edit.svg" /></a><a><img src="assets/img/delete.svg" /></a></p>
    </div>
  </div>
</div>
